@model SDDB.Domain.Entities.Person
@using SDDB.WebUI.Infrastructure
@{
    ViewBag.Title = "SDDB Persons";
}
<!------- InitialView ------->
<div class="container-fluid" id="InitialView">
    <h4>Please wait, page loading...</h4>
</div>

<!----- Navbar Section ----->
@section Navbar{
    @Html.Partial("_StandardEditButtons")

    <div class="btn-group navbar-btn tdo-btngroup-prsproj hidden">
        <button type="button" class="btn btn-default" id="PrsProjViewBtnCancel">Back</button>
        <button type="button" class="btn btn-tdo-nav disabled">&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <button type="button" class="btn btn-success" id="PrsProjViewBtnOk">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
    </div>

    <div class="btn-group navbar-btn tdo-btngroup-prsgroups hidden">
        <button type="button" class="btn btn-default" id="PersonGroupsViewBtnCancel">Back</button>
        <button type="button" class="btn btn-tdo-nav disabled">&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <button type="button" class="btn btn-success" id="PersonGroupsViewBtnOk">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
    </div>

    <div class="btn-group navbar-btn tdo-btngroup-managedgroups hidden">
        <button type="button" class="btn btn-default" id="ManagedGroupsViewBtnCancel">Back</button>
        <button type="button" class="btn btn-tdo-nav disabled">&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <button type="button" class="btn btn-success" id="ManagedGroupsViewBtnOk">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
    </div>
}
@section NavbarCollapse{
    <ul class="nav navbar-nav tdo-btngroup-initial"></ul>

    <ul class="nav navbar-nav tdo-btngroup-main hidden">
        <li class="margin-left-10px">
            <div class="btn-group navbar-btn">
                <button type="button" class="btn btn-tdo-warning2 collapsenav" id="BtnCopy"> Copy </button>
            </div>
        </li>
        <li class="dropdown margin-left-5px">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Groups<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="collapsenav" href="#" id="BtnEditPrsProj">Managed Projects</a></li>
                <li class="divider"></li>
                <li><a class="collapsenav" href="#" id="BtnEditPersonGroups">In Person Groups</a></li>
                <li><a class="collapsenav" href="#" id="BtnEditManagedGroups">Managed Prs Groups</a></li>
            </ul>
        </li>
        <li class="dropdown margin-left-5px">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="collapsenav" href=# id="columnsSelectId1">Show 1st Columns</a></li>
                <li><a class="collapsenav" href=# id="columnsSelectId2">Show 2nd Columns</a></li>
                <li class="divider"></li>
                <li><a class="collapsenav" href=# id="dropdownId1">Show Person Activity</a></li>
            </ul>
        </li>
    </ul> 
}

<!------- MainView ------->
<div class="container-fluid hidden" id="MainView">

    <div class="panel panel-primary" id="PanelTableMain">
        <div class="panel-heading text-center" style="font-size:130%">
            <strong>Persons</strong>
            <div class="pull-left">
                <button type="button" class="btn btn-xs btn-info" id="BtnTableMainExport">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </button>
            </div>
            <div class="pull-right">
                <input id="ChBoxShowDeleted" type="checkbox" data-toggle="toggle" data-size="mini" data-width="65"
                        data-onstyle="warning" data-offstyle="primary" data-on="Deleted" data-off="Active">
            </div>

        </div>
        <table class="table table-striped" id="TableMain">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Initials</th>
                    <th>Phone</th>
                    <th>Mobile Phone</th>
                    <th>Email</th>
                    <th>Comments</th>
                    <th>Is Current Employee</th>
                    <th>Employee Position</th>
                    <th>Is Salaried</th>
                    <th>Employee Start</th>
                    <th>Employee End</th>
                    <th>Employee Details</th>
                    <th>Is Active</th>
                </tr>
            </thead>
            <tbody class="selectable"></tbody>
        </table>
    </div>
</div>

<!------- EditFormView ------->
<div class="container-fluid hidden" id="EditFormView">
    <div class="row">
        <div class="col-xs-12">
            <h3 id="EditFormLabel">Create/Edit Person</h3>
        </div>
    </div>
    <div class="well well-tdo">
        <form class="form-horizontal" role="form" id="EditForm">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.FirstName, "First Name", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control modifiable", placeholder = "First Name" })
                            @Html.ValidationMessageFor(x => x.FirstName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.LastName, "Last Name", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control modifiable", placeholder = "Last Name" })
                            @Html.ValidationMessageFor(x => x.LastName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Initials, "Initials", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Initials, new { @class = "form-control modifiable", placeholder = "Initials" })
                            @Html.ValidationMessageFor(x => x.Initials)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Phone, "Phone", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control modifiable", placeholder = "Phone" })
                            @Html.ValidationMessageFor(x => x.Phone)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.PhoneMobile, "Mobile Phone", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.PhoneMobile, new { @class = "form-control modifiable", placeholder = "Mobile Phone" })
                            @Html.ValidationMessageFor(x => x.PhoneMobile)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email, "Email", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control modifiable", placeholder = "Email" })
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Comments, "Comments", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.Comments, 3, 10, new { @class = "form-control modifiable", placeholder = "Comments" })
                            @Html.ValidationMessageFor(x => x.Comments)
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.IsCurrentEmployee_bl, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.IsCurrentEmployee_bl, "Is Current Employee")
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.EmployeePosition, "Empl. Position", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.EmployeePosition, new { @class = "form-control modifiable", placeholder = "Employee Position" })
                            @Html.ValidationMessageFor(x => x.EmployeePosition)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.IsSalaried_bl, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.IsSalaried_bl, "Is Salaried")
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.EmployeeStart, "Start Date", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.EmployeeStart, new { @class = "form-control modifiable", placeholder = "Employee Start Date" })
                            @Html.ValidationMessageFor(x => x.EmployeeStart)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.EmployeeEnd, "End Date", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.EmployeeEnd, new { @class = "form-control modifiable", placeholder = "Employee End Date" })
                            @Html.ValidationMessageFor(x => x.EmployeeEnd)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.EmployeeDetails, "Empl. Details", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.EmployeeDetails, 3, 10, new { @class = "form-control modifiable", placeholder = "Employee Details" })
                            @Html.ValidationMessageFor(x => x.EmployeeDetails)
                        </div>
                    </div>
                    <div class="form-group hidden" id="EditFormGroupIsActive">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.IsActive_bl, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.IsActive_bl, "Is Active") &nbsp;&nbsp; <em>(Marking as 'Active' un-deletes record.)</em>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!------- PrsProjView ------->
<div class="container-fluid hidden" id="PrsProjView">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h3 id="PrsProjViewLabel">Managed Projects</h3>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-warning margin-top-10px">
                <div class="panel-heading text-center" style="font-weight:bold" id="PrsProjViewPanel"> </div>
            </div>
        </div>
    </div>
    <div class="well well-tdo">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="font-weight:bold">Add</div>
                    <table class="table table-striped" id="TableProjectsAdd">
                        <thead class="hidden">
                            <tr>
                                <th>ID</th>
                                <th>Project Name</th>
                                <th>Project Code</th>
                            </tr>
                        </thead>
                        <tbody class="selectable"></tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="font-weight:bold">Remove</div>
                    <table class="table table-striped" id="TableProjectsRemove">
                        <thead class="hidden">
                            <tr>
                                <th>ID</th>
                                <th>Project Name</th>
                                <th>Project Code</th>
                            </tr>
                        </thead>
                        <tbody class="selectable"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!------- PersonGroupsView ------->
<div class="container-fluid hidden" id="PersonGroupsView">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h3 id="PersonGroupsViewLabel">In Person Groups</h3>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-warning margin-top-10px">
                <div class="panel-heading text-center" style="font-weight:bold" id="PersonGroupsViewPanel"> </div>
            </div>
        </div>
    </div>
    <div class="well well-tdo">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="font-weight:bold">Add</div>
                    <table class="table table-striped" id="TablePersonGroupsAdd">
                        <thead class="hidden">
                            <tr>
                                <th>ID</th>
                                <th>Group Name</th>
                                <th>Alt. Name</th>
                            </tr>
                        </thead>
                        <tbody class="selectable"></tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="font-weight:bold">Remove</div>
                    <table class="table table-striped" id="TablePersonGroupsRemove">
                        <thead class="hidden">
                            <tr>
                                <th>ID</th>
                                <th>Group Name</th>
                                <th>Alt. Name</th>
                            </tr>
                        </thead>
                        <tbody class="selectable"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!------- ManagedGroupsView ------->
<div class="container-fluid hidden" id="ManagedGroupsView">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h3 id="ManagedGroupsViewLabel">Managed Person Groups</h3>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-warning margin-top-10px">
                <div class="panel-heading text-center" style="font-weight:bold" id="ManagedGroupsViewPanel"> </div>
            </div>
        </div>
    </div>
    <div class="well well-tdo">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="font-weight:bold">Add</div>
                    <table class="table table-striped" id="TableManagedGroupsAdd">
                        <thead class="hidden">
                            <tr>
                                <th>ID</th>
                                <th>Group Name</th>
                                <th>Alt. Name</th>
                            </tr>
                        </thead>
                        <tbody class="selectable"></tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="font-weight:bold">Remove</div>
                    <table class="table table-striped" id="TableManagedGroupsRemove">
                        <thead class="hidden">
                            <tr>
                                <th>ID</th>
                                <th>Group Name</th>
                                <th>Alt. Name</th>
                            </tr>
                        </thead>
                        <tbody class="selectable"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/bootstrap-toggle")
    @Scripts.Render("~/bundles/sddb/shared_views")
    <script src="~/Scripts/SDDB/Person.js?v=@Html.GetAppVersion()"></script>
}

@section CSS {
    @Styles.Render("~/bundles/DataTables-CSS")
    @Styles.Render("~/bundles/bootstrap-toggle-CSS")
}

