@model SDDB.Domain.Entities.AssemblyExt
@{
    ViewBag.Title = "Assemblies Extended";
}
<!------- InitialView ------->
<div class="container-fluid" id="InitialView">
    <h4>Please wait for page to load...</h4>
</div>

<!------- MainView ------->
<div class="container-fluid hide" id="MainView">

    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group margin-bottom-2px">
                <button class="btn btn-primary" id="BtnEdit">Edit</button>
            </div>

            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByModel" placeholder="Select Model"></div>
            </div>

            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByProject" placeholder="Select Project"></div>
            </div>

            <div class="pull-right">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href=# id="dropdownId1">Show 1st Columns</a></li>
                        <li><a href=# id="dropdownId2">Show 2nd Columns</a></li>
                        <li><a href=# id="dropdownId3">Show 3rd Columns</a></li>
                        <li><a href=# id="dropdownId4">Show 4th Columns</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" id="PanelTableMain">
        <div class="panel-heading text-center" style="font-size:130%">
            <strong>Assemblies Extended</strong>
            <div class="pull-right">
                <input id="ChBoxShowDeleted" type="checkbox" data-toggle="toggle" data-size="mini" data-width="100" data-onstyle="warning" data-on="Deleted Shown" data-off="Show Deleted" disabled>
            </div>
        </div>
        <table class="table table-striped" id="TableMain">
            <thead>
                <tr>
                    <th>ID</th>

                    <th>Name</th>
                    <th>Alt. Name</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Project</th>
                    <th>Attr01</th>
                    <th>Attr02</th>
                    <th>Attr03</th>
                    <th>Attr04</th>
                    <th>Attr05</th>
                    <th>Attr06</th>
                    <th>Attr07</th>
                    <th>Attr08</th>
                    <th>Attr09</th>
                    <th>Attr10</th>
                    <th>Attr11</th>
                    <th>Attr12</th>
                    <th>Attr13</th>
                    <th>Attr14</th>
                    <th>Attr15</th>
                    <th>AssemblyType_Id</th>
                    <th>AssemblyStatus_Id</th>
                    <th>AssignedToProject_Id</th>
                </tr>
            </thead>
            <tbody class="selectable"></tbody>
        </table>
    </div>
</div>

<!------- EditFormView ------->
<div class="container-fluid hide" id="EditFormView">
    <div class="row">
        <div class="col-xs-6">
            <h3 id="EditFormLabel">Edit Extended</h3>
        </div>
        <div class="col-xs-6">
            <h3><button class="btn btn-default pull-right" type="button" id="EditFormBtnBack">Cancel</button></h3>
        </div>
    </div>
    <div class="well well-tdo">
        <form class="form-horizontal" role="form" id="EditForm">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="AssyName" type="text" value="" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Alternate Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="AssyAltName" type="text" value="" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Type</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="AssyTypeName" type="text" value="" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Status</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="AssyStatusName" type="text" value="" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Project</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="AssignedToProject" type="text" value="" readonly>
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr01">
                        @Html.LabelFor(x => x.Attr01, "Attr01", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr01" name="Attr01" placeholder="Attr01" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr01)
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr02">
                        @Html.LabelFor(x => x.Attr02, "Attr02", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr02" name="Attr02" placeholder="Attr02" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr02)
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr03">
                        @Html.LabelFor(x => x.Attr03, "Attr03", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr03" name="Attr03" placeholder="Attr03" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr03)
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr04">
                        @Html.LabelFor(x => x.Attr04, "Attr04", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr04" name="Attr04" placeholder="Attr04" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr04)
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr05">
                        @Html.LabelFor(x => x.Attr05, "Attr05", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr05" name="Attr05" placeholder="Attr05" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr05)
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group" id="FrmGrpAttr06">
                        @Html.LabelFor(x => x.Attr06, "Attr06", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr06" name="Attr06" placeholder="Attr06" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr06)
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr07">
                        @Html.LabelFor(x => x.Attr07, "Attr07", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr07" name="Attr07" placeholder="Attr07" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr07)
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr08">
                        @Html.LabelFor(x => x.Attr08, "Attr08", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr08" name="Attr08" placeholder="Attr08" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr08)
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr09">
                        @Html.LabelFor(x => x.Attr09, "Attr09", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr09" name="Attr09" placeholder="Attr09" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr09)
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr10">
                        @Html.LabelFor(x => x.Attr10, "Attr10", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr10" name="Attr10" placeholder="Attr10" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr10)
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr11">
                        @Html.LabelFor(x => x.Attr11, "Attr11", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr11" name="Attr11" placeholder="Attr11" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr11)
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr12">
                        @Html.LabelFor(x => x.Attr12, "Attr12", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr12" name="Attr12" placeholder="Attr12" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr12)
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr13">
                        @Html.LabelFor(x => x.Attr13, "Attr13", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr13" name="Attr13" placeholder="Attr13" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr13)
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr14">
                        @Html.LabelFor(x => x.Attr14, "Attr14", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr14" name="Attr14" placeholder="Attr14" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr14)
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr15">
                        @Html.LabelFor(x => x.Attr15, "Attr15", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr15" name="Attr15" placeholder="Attr15" type="text" value="" />
                            @Html.ValidationMessageFor(x => x.Attr15)
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="col-xs-6">
                    <button class="btn btn-default" type="button" id="EditFormBtnCancel">Cancel</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-success pull-right" type="button" id="EditFormBtnOk">
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/bootstrap-toggle")
    @Scripts.Render("~/bundles/magicsuggest")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/SDDB/AssemblyExt.js"></script>
}

@section CSS {
    @Styles.Render("~/bundles/DataTables-CSS")
    @Styles.Render("~/bundles/bootstrap-toggle-CSS")
    @Styles.Render("~/bundles/magicsuggest-css")
    @Styles.Render("~/bundles/bootstrap-datetimepicker-CSS")
}

