@using SDDB.WebUI.Infrastructure
@{
    ViewBag.Title = "SDDB Activity Summary";
}

<!------- InitialView ------->
<div class="container-fluid" id="InitialView">
    <h4>Please wait, page loading...</h4>
</div>

<!------- MainView ------->
<div class="container-fluid hidden" id="MainView">

    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group margin-bottom-2px">
                <input class="form-control input-tdo-warning" data-val="true" data-val-dbisdateiso="The field must have YYYY-MM-DD format."
                       id="FilterDateStart" placeholder="Select Day" type="text" value="">
            </div>
            &nbsp; &nbsp;
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByPerson" placeholder="Select Person"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-tdo-success " id="PanelTableMain">
        <div class="panel-heading text-center" style="font-size:130%">
            <strong>Activity Summary</strong>
        </div>
        <table class="table table-striped" id="TableMain">
            <thead>
                <tr>
                    <th id="thNo0">Project</th>
                    <th id="thNo1"></th>
                    <th id="thNo2"></th>
                    <th id="thNo3"></th>
                    <th id="thNo4"></th>
                    <th id="thNo5"></th>
                    <th id="thNo6" class="hidden-xs"></th>
                    <th id="thNo7" class="hidden-xs"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>DumTxt</td>
                    <td>DumTxt</td>
                    <td>DumTxt</td>
                    <td>DumTxt</td>
                    <td>DumTxt</td>
                    <td>DumTxt</td>
                    <td>DumTxt</td>
                    <td>DumTxt</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!------- ScriptVariables ------->
<script>var UserId = "@Html.GetUserId()";</script>
<script>var UserFullName = "@Html.GetUserFullName()";</script>
<script>var CanViewOthers = @User.IsInRole("ActivitySummary_ViewOthers").ToString().ToLower();</script>



@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/bootstrap-toggle")
    @Scripts.Render("~/bundles/magicsuggest")
    <script src="~/Scripts/SDDB/ActivitySummary.js?v=@Html.GetAppVersion()"></script>
}

@section CSS {
    @Styles.Render("~/bundles/DataTables-CSS")
    @Styles.Render("~/bundles/bootstrap-toggle-CSS")
    @Styles.Render("~/bundles/magicsuggest-css")
}



