@model SDDB.Domain.Entities.Location
@{
    ViewBag.Title = "Locations";
}
<!------- InitialView ------->
<div class="container-fluid" id="InitialView">
    <h4>Please wait for page to load...</h4>
</div>

<!------- MainView ------->
<div class="container-fluid hide" id="MainView">

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="btn-group margin-bottom-2px">
                <button class="btn btn-default" id="BtnCreate">Create</button>
                <button class="btn btn-primary" id="BtnEdit">Edit</button>
                <button class="btn btn-danger" id="BtnDelete">Delete</button>
            </div>
            <div class="btn-group margin-bottom-2px">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Options</button>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href=# id="dropdownId1">Show 1st Columns</a></li>
                    <li><a href=# id="dropdownId2">Show 2nd Columns</a></li>
                    <li><a href=# id="dropdownId3">Show 3rd Columns</a></li>
                    <li class="divider"></li>
                    <li><a href=# id="dropdownId4">Show Loc Assemblies</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByType" placeholder="Select Type"></div>
            </div>
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByProject" placeholder="Select Project"></div>
            </div>            
        </div>
    </div>

    <div class="panel panel-primary" id="PanelTableMain">
        <div class="panel-heading text-center" style="font-size:130%">
            <strong>Locations</strong>
            <div class="pull-right">
                <input id="ChBoxShowDeleted" type="checkbox" data-toggle="toggle" data-size="mini" data-width="65"
                        data-onstyle="warning" data-offstyle="primary" data-on="Deleted" data-off="Active" disabled>
            </div>
        </div>
        <table class="table table-striped" id="TableMain">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Alt. Name</th>
                    <th>Alt. Name2</th>
                    <th>Type</th>
                    <th>Project</th>
                    <th>Contact Prs.</th>
                    <th>Address</th>
                    <th>Position X</th>
                    <th>Position Y</th>
                    <th>Position Z</th>
                    <th>Stationing</th>
                    <th>CoA Req'd</th>
                    <th>RoE Req'd</th>
                    <th>Access Info</th>
                    <th>Comments</th>
                    <th>Is Active</th>
                    <th>LocationType_Id</th>
                    <th>AssignedToProject_Id</th>
                    <th>ContactPerson_Id</th>
                </tr>
            </thead>
            <tbody class="selectable"></tbody>
        </table>
    </div>
</div>

<!------- EditFormView ------->
<div class="container-fluid hide" id="EditFormView">
    <div class="row">
        <div class="col-xs-6">
            <h3 id="EditFormLabel">Create/Edit Location</h3>
        </div>
        <div class="col-xs-6">
            <h3><button class="btn btn-default pull-right" type="button" id="EditFormBtnBack">Cancel</button></h3>
        </div>
    </div>
    <div class="well well-tdo">
        <form class="form-horizontal" role="form" id="EditForm">
            
            <div class="row" id="EditFormCreateMultiple">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="CreateMultiple">Multiple</label>
                        <div class="col-sm-10">
                            <input class="form-control input-tdo-info"
                                   data-val="true" data-val-number="The field must be a number."
                                   data-val-range="The field must be between 1 and 100." data-val-range-max="100" data-val-range-min="1"
                                   id="CreateMultiple" name="CreateMultiple" placeholder="Create Multiple" type="number" value="">
                            <span class="field-validation-valid" data-valmsg-for="CreateMultiple" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.LocName, "Name", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.LocName, new { @class = "form-control modifiable", placeholder = "Location Name" })
                            @Html.ValidationMessageFor(x => x.LocName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.LocAltName, "Alt. Name", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.LocAltName, new { @class = "form-control modifiable", placeholder = "Location Alt. Name" })
                            @Html.ValidationMessageFor(x => x.LocAltName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.LocAltName2, "Alt. Name2", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.LocAltName2, new { @class = "form-control modifiable", placeholder = "Location Alt. Name 2" })
                            @Html.ValidationMessageFor(x => x.LocAltName2)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.LocationType_Id, "Type", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.LocationType_Id, new { @class = "form-control modifiable", placeholder = "Location Type" })
                            @Html.ValidationMessageFor(x => x.LocationType_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedToProject_Id, "Project", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssignedToProject_Id, new { @class = "form-control modifiable", placeholder = "Assigned to Project" })
                            @Html.ValidationMessageFor(x => x.AssignedToProject_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ContactPerson_Id, "Contact Prs.", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.ContactPerson_Id, new { @class = "form-control modifiable", placeholder = "Contact Person" })
                            @Html.ValidationMessageFor(x => x.ContactPerson_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address, "Address", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Address, new { @class = "form-control modifiable", placeholder = "Location Address" })
                            @Html.ValidationMessageFor(x => x.Address)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.LocX, "X", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.LocX, new { @class = "form-control modifiable", placeholder = "Position X" })
                            @Html.ValidationMessageFor(x => x.LocX)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.LocY, "Y", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.LocY, new { @class = "form-control modifiable", placeholder = "Position Y" })
                            @Html.ValidationMessageFor(x => x.LocY)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.LocZ, "Z", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.LocZ, new { @class = "form-control modifiable", placeholder = "Position Z" })
                            @Html.ValidationMessageFor(x => x.LocZ)
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.LocStationing, "Stationing", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.LocStationing, new { @class = "form-control modifiable", placeholder = "Loc. Stationing" })
                            @Html.ValidationMessageFor(x => x.LocStationing)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.CertOfApprReqd_bl, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.CertOfApprReqd_bl, "Certificate of Approval Req'd")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.RightOfEntryReqd_bl, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.RightOfEntryReqd_bl, "Right of Entry Req'd")
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AccessInfo, "Access Info", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.AccessInfo, 3, 10, new { @class = "form-control modifiable", placeholder = "Access Information" })
                            @Html.ValidationMessageFor(x => x.AccessInfo)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Comments, "Comments", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.Comments, 3, 10, new { @class = "form-control modifiable", placeholder = "Comments" })
                            @Html.ValidationMessageFor(x => x.Comments)
                        </div>
                    </div>
                    <div class="form-group hide" id="EditFormGroupIsActive">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.IsActive_bl, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.IsActive_bl, "Is Active") &nbsp;&nbsp; <em>(Marking as 'Active' un-deletes record.)</em>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="col-xs-6">
                    <button class="btn btn-default" type="button" id="EditFormBtnCancel">Cancel</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-success pull-right" type="button" id="EditFormBtnOk">
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!------- ScriptVariables ------->

<script>var ProjectId = "@ViewBag.ProjectId";</script>

@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/bootstrap-toggle")
    @Scripts.Render("~/bundles/magicsuggest")
    <script src="~/Scripts/SDDB/Location.js"></script>
}

@section CSS {
    @Styles.Render("~/bundles/DataTables-CSS")
    @Styles.Render("~/bundles/bootstrap-toggle-CSS")
    @Styles.Render("~/bundles/magicsuggest-css")
}


