@using SDDB.WebUI.Infrastructure

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Images/SolDataIcon.png?v=@Html.GetAppVersion()">
    
    @Scripts.Render("~/bundles/modernizr")
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/jquery-ui-CSS")
    @Styles.Render("~/bundles/bootstrap-datetimepicker-CSS")
    <link href="/Content/SDDB/Site.css?v=@Html.GetAppVersion()" rel="stylesheet" />
    @RenderSection("CSS", required: false)
</head>

<body>
    <!------------ Navbar Section -------------->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">

                @RenderSection("Navbar", required: false)

                <div class="btn-group navbar-btn tdo-btngroup-files hidden">
                    <button type="button" class="btn btn-default" id="filesViewBtnBack">Back</button>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" rel="home" href="@Url.Action("Index", "Home", null)" title="SDDB Home">
                    <img style="margin-top: -14px;" src="~/Images/SDDB_Home.png" />
                </a>
            </div>

            <div class="navbar-collapse collapse">

                @RenderSection("NavbarCollapse", required: false)

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Logout","DBUSer",null)" title="Click to Log Out">
                            <strong style="color:red">@Html.GetUserFullName()</strong>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-log-out"></span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Help", "Home",null)@ViewBag.HelpSection" target="_blank" title="SDDB Help">
                            <img style="margin-top: -2px;" src="~/Images/SDDB_help.png" />
                            <span class="hidden-sm hidden-md hidden-lg collapsenav">&nbsp;&nbsp; SDDB Help</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!------------ Main Section ---------------->
    @RenderBody()
        
    <!--------------------- Footer ------------------->
    <footer class="footer">
        <div class="container-fluid">
            <hr />
            <p class="text-muted text-center"> Version @Html.GetAppVersion() &nbsp;<span class="glyphicon glyphicon-th"></span>&nbsp; Design By TDO</p>
        </div>
    </footer>
    
    <!------------ modalInfo dialog ------------>
    <div class="modal" id="modalInfo" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalInfoLabel">Information</h4>
                </div>
                <div class="modal-body">
                    <div id="modalInfoBody"></div>
                    <pre id="modalInfoBodyPre"></pre>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" id="modalInfoBtnOk">
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!------------ modalWait dialog ------------>
    <div class="modal" id="modalWait" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalWaitLabel">Please Wait...</h4>
                </div>
                <div class="modal-body" id="modalWaitBody">
                    <div class="text-center">
                        <img src="/Images/loading_spinner.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------ modalConfirm dialog ------------>
    <div class="modal" id="modalConfirm" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalConfirmLabel">Please Confirm</h4>
                </div>
                <div class="modal-body">
                    <div id="modalConfirmBody"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-tdo-primary pull-left" id="modalConfirmBtnNo">
                        &nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                    <button class="btn btn-primary" id="modalConfirmBtnYes">
                        &nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!------------ modalDatePrompt dialog ------------>
    <div class="modal" id="modalDatePrompt" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalDatePromptLabel">Please Select Date</h4>
                </div>
                <div class="modal-body">
                    <div id="modalDatePromptBody"></div>
                    <form role="form" id="modalDatePromptForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="modalDatePromptInput"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" id="modalDatePromptBtnCancel">Cancel</button>
                    <button class="btn btn-warning" id="modalDatePromptBtnOk">
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
            </div>
        </div>
    </div>



    <!------- filesView ------->
    <div class="container-fluid hidden" id="filesView">

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3 id="filesViewLabel">Files</h3>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-warning margin-top-10px">
                    <div class="panel-heading text-center" style="font-weight:bold" id="filesViewPanel"> </div>
                </div>
            </div>
        </div>

        <div class="well well-tdo">
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group margin-bottom-2px">
                        <span class="btn btn-default btn-file">Upload <input type="file" id="filesBtnUpload" multiple></span>
                        <button class="btn btn-info" id="filesBtnDload">Download</button>
                        <button class="btn btn-danger" id="filesBtnDelete">Delete</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center"><strong>Files</strong></div>
                        <table class="table table-striped" id="filesTable">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Size kB</th>
                                    <th>TimeStamp</th>
                                    <th>Upload By</th>
                                </tr>
                            </thead>
                            <tbody class="selectable"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------ modalUpload dialog ------------>
    <div class="modal" id="modalUploadFiles" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalUploadFilesLabel">Uploading...</h4>
                </div>
                <div class="modal-body">
                    <div id="modalUploadFilesBody"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" id="modalUploadFilesBtnAbort">Abort</button>
                </div>
            </div>
        </div>
    </div>

    <!----------------- filesIframe ------------------>
    <iframe class="hidden" id="filesIframe" name="filesIframe"></iframe>
    
    <!------------------Scripts and CSS--------------->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/filesaver")
    @Scripts.Render("~/bundles/sddb/shared")
        
    @RenderSection("Scripts", required: false)
        
</body>
</html>