@model SDDB.Domain.Entities.ComponentLogEntry
@using SDDB.WebUI.Infrastructure
@{
    ViewBag.Title = "SDDB Component Log Entries";
}
<!------- InitialView ------->
<div class="container-fluid" id="InitialView">
    <h4>Please wait, page loading...</h4>
</div>

<!----- Navbar Section ----->
@section Navbar{
    @Html.Partial("_StandardEditButtons")
}
@section NavbarCollapse{
    <ul class="nav navbar-nav tdo-btngroup-initial"></ul>

    <ul class="nav navbar-nav tdo-btngroup-main hidden">
        <li class="margin-left-10px">
            <div class="btn-group navbar-btn">
                <button type="button" class="btn btn-tdo-warning2 collapsenav" id="BtnCopy"> Copy </button>
            </div>
        </li>
        <li class="dropdown margin-left-5px">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="collapsenav" href=# id="columnsSelectId1">Show 1st Columns</a></li>
                <li><a class="collapsenav" href=# id="columnsSelectId2">Show 2nd Columns</a></li>
                <li class="divider"></li>
                <li class="extColumnSelect"><a class="collapsenav" href=# id="columnsSelectId3">Show 1st Extended</a></li>
                <li class="extColumnSelect"><a class="collapsenav" href=# id="columnsSelectId4">Show 2nd Extended</a></li>
                <li class="extColumnSelect"><a class="collapsenav" href=# id="columnsSelectId5">Show 3rd Extended</a></li>
                <li class="divider"></li>
                <li><a class="collapsenav" href=# id="dropdownId1">Show Comp. Log</a></li>
            </ul>
        </li>
    </ul>
}

<!------- MainView ------->
<div class="container-fluid hidden" id="MainView">

    <div class="row">
        <div class="col-md-12 col-lg-4">
            <div class="btn-group margin-bottom-2px">
                <input class="form-control input-tdo-warning" data-val="true" data-val-dbisdateiso="The field must have YYYY-MM-DD format."
                       id="FilterDateStart" placeholder="Start Date" type="text" value="">
            </div>
            <div class="btn-group margin-bottom-2px">
                <input class="form-control input-tdo-warning" data-val="true" data-val-dbisdateiso="The field must have YYYY-MM-DD format."
                       id="FilterDateEnd" placeholder="End Date" type="text" value="">
            </div>            
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByProject" placeholder="Select Project"></div>
            </div>
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByComponent" placeholder="Select Component"></div>
            </div>
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByCompType" placeholder="Select Type"></div>
            </div>
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByPerson" placeholder="Select Person"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" id="PanelTableMain">
        <div class="panel-heading text-center" style="font-size:130%">
            <strong>Comp. Log</strong>
            <div class="pull-left">
                <button type="button" class="btn btn-xs btn-info" id="BtnTableMainExport">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </button>
            </div>
            <div class="pull-right">
                <input id="ChBoxShowDeleted" type="checkbox" data-toggle="toggle" data-size="mini" data-width="65"
                        data-onstyle="warning" data-offstyle="primary" data-on="Deleted" data-off="Active">
            </div>
        </div>
        <table class="table table-striped" id="TableMain">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Component</th>
                    <th>Entered By</th>
                    <th>Status</th>
                    <th>Project</th>
                    <th>Assembly</th>
                    <th>Last Calib.</th>
                    <th>Comments</th>
                    <th>Is Active</th>
                    <th>Component_Id</th>
                    <th>LastSavedByPerson_Id</th>
                    <th>ComponentStatus_Id</th>
                    <th>AssignedToProject_Id</th>
                    <th>AssignedToAssemblyDb_Id</th>
                </tr>
            </thead>
            <tbody class="selectable"></tbody>
        </table>
    </div>
</div>

<!------- EditFormView ------->
<div class="container-fluid hidden" id="EditFormView">
    <div class="row">
        <div class="col-xs-12">
            <h3 id="EditFormLabel">Create/Edit Log Entry</h3>
        </div>
    </div>
    <div class="well well-tdo">
        <form class="form-horizontal" role="form" id="EditForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.LogEntryDateTime, "DateTime", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" data-val="true" data-val-dbisdatetimeiso="The field has to be in 'yyyy-MM-dd HH:mm' format."
                                   data-val-required="Entry Date field is required" id="LogEntryDateTime" name="LogEntryDateTime" placeholder="Log Entry Date &amp; Time" value="" type="text">
                            @Html.ValidationMessageFor(x => x.LogEntryDateTime)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Component_Id, "Component", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Component_Id, new { @class = "form-control modifiable", placeholder = "Component" })
                            @Html.ValidationMessageFor(x => x.Component_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ComponentStatus_Id, "Status", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.ComponentStatus_Id, new { @class = "form-control modifiable", placeholder = "Component Status" })
                            @Html.ValidationMessageFor(x => x.ComponentStatus_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedToProject_Id, "Project", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssignedToProject_Id, new { @class = "form-control modifiable", placeholder = "Assigned to Project" })
                            @Html.ValidationMessageFor(x => x.AssignedToProject_Id)
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedToAssemblyDb_Id, "Assembly", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssignedToAssemblyDb_Id, new { @class = "form-control modifiable", placeholder = "Assigned to Assembly" })
                            @Html.ValidationMessageFor(x => x.AssignedToAssemblyDb_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.LastCalibrationDate, "Last Calib.", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" data-val="true" data-val-dbisdateiso="The field has to be in 'yyyy-MM-dd' format."
                                   id="LastCalibrationDate" name="LastCalibrationDate" placeholder="Last Calibration Date" value="" type="text">
                            @Html.ValidationMessageFor(x => x.LastCalibrationDate)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Comments, "Comments", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.Comments, 3, 10, new { @class = "form-control modifiable", placeholder = "Comments" })
                            @Html.ValidationMessageFor(x => x.Comments)
                        </div>
                    </div>
                    <div class="form-group hidden" id="EditFormGroupIsActive">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.IsActive_bl, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.IsActive_bl, "Is Active") &nbsp;&nbsp; <em>(Marking as 'Active' un-deletes record.)</em>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<!------- ScriptVariables ------->
<script>var ComponentId = "@ViewBag.ComponentId";</script>

@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/bootstrap-toggle")
    @Scripts.Render("~/bundles/magicsuggest")
    @Scripts.Render("~/bundles/sddb/shared_views")
    <script src="~/Scripts/SDDB/ComponentLogEntry.js?v=@Html.GetAppVersion()"></script>
}

@section CSS {
    @Styles.Render("~/bundles/DataTables-CSS")
    @Styles.Render("~/bundles/bootstrap-toggle-CSS")
    @Styles.Render("~/bundles/magicsuggest-css")
}
