@model SDDB.Domain.Entities.PersonLogEntry
@{
    ViewBag.Title = "Person Log Entries";
}

<!------- MainView ------->
<div class="container-fluid" id="MainView">

    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group margin-bottom-2px">
                <button class="btn btn-default" id="BtnCreate">Create</button>
                <button class="btn btn-primary" id="BtnEdit">Edit</button>
                <button class="btn btn-danger" id="BtnDelete">Delete</button>
            </div>

            <div class="btn-group margin-bottom-2px">
                <button class="btn btn-success" id="BtnEditLogEntryFiles">&nbsp; Files &nbsp;</button>
            </div>

            <div class="btn-group margin-bottom-2px">
                <input class="form-control input-tdo-warning" data-val="true" data-val-dbisdateiso="The field must have YYYY-MM-DD format."
                       id="FilterDateStart" placeholder="Start Date" type="text" value="">
            </div>
            <div class="btn-group margin-bottom-2px">
                <input class="form-control input-tdo-warning" data-val="true" data-val-dbisdateiso="The field must have YYYY-MM-DD format."
                       id="FilterDateEnd" placeholder="End Date" type="text" value="">
            </div>

            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByPerson" placeholder="Select Person"></div>
            </div>
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByType" placeholder="Select Type"></div>
            </div>
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByProject" placeholder="Select Project"></div>
            </div>
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByAssy" placeholder="Select Assembly"></div>
            </div>

        </div>
    </div>

    <div class="panel panel-primary" id="PanelTableMain">
        <div class="panel-heading text-center" style="font-size:130%">
            <strong>Person Log Entries</strong>
            <div class="pull-right">
                <input id="ChBoxShowDeleted" type="checkbox" data-toggle="toggle" data-size="mini" data-width="100" data-onstyle="warning" 
                       data-on="Deleted Shown" data-off="Show Deleted" disabled>
            </div>
        </div>
        <table class="table table-striped" id="TableMain">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Entry Date</th>
                    <th>Entered By</th>
                    <th>Activity Type</th>
                    <th>Man Hours</th>
                    <th>Project</th>
                    <th>Location</th>
                    <th>Event</th>
                    <th>Comments</th>
                    <th>Is Active</th>
                    <th>PersonActivityType_Id</th>
                    <th>AssignedToProject_Id</th>
                    <th>AssignedToProjectEvent_Id</th>
                </tr>
            </thead>
            <tbody class="selectable"></tbody>
        </table>
    </div>
</div>

<!------- EditFormView ------->
<div class="container-fluid hide" id="EditFormView">
    <div class="row">
        <div class="col-xs-6">
            <h3 id="EditFormLabel">Create/Edit Person Log Entry</h3>
        </div>
        <div class="col-xs-6">
            <h3><button class="btn btn-default pull-right" type="button" id="EditFormBtnBack">Cancel</button></h3>
        </div>
    </div>
    <div class="well">
        <form class="form-horizontal" role="form" id="EditForm">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.LogEntryDateTime, "DateTime", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" data-val="true" data-val-dbisdatetimeiso="The field has to be in 'yyyy-MM-dd HH:mm' format." 
                                   data-val-required="Entry Date field is required" id="LogEntryDateTime" name="LogEntryDateTime" placeholder="Log Entry Date &amp; Time" value="" type="text">
                            @Html.ValidationMessageFor(x => x.LogEntryDateTime)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.EnteredByPerson_Id, "Entered By", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.EnteredByPerson_Id, new { @class = "form-control modifiable", placeholder = "Entered By Person" })
                            @Html.ValidationMessageFor(x => x.EnteredByPerson_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.PersonActivityType_Id, "Activity", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.PersonActivityType_Id, new { @class = "form-control modifiable", placeholder = "Type of Activity" })
                            @Html.ValidationMessageFor(x => x.PersonActivityType_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ManHours, "Man Hours", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.ManHours, new { @class = "form-control modifiable", placeholder = "Man Hours" })
                            @Html.ValidationMessageFor(x => x.ManHours)
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedToProject_Id, "Project", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssignedToProject_Id, new { @class = "form-control modifiable", placeholder = "Assigned to Project" })
                            @Html.ValidationMessageFor(x => x.AssignedToProject_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedToLocation_Id, "Location", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <div class="small"><em> Choose Project first</em></div>
                            @Html.TextBoxFor(x => x.AssignedToLocation_Id, new { @class = "form-control modifiable", placeholder = "Assigned to Location" })
                            @Html.ValidationMessageFor(x => x.AssignedToLocation_Id) 
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedToProjectEvent_Id, "Event", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssignedToProjectEvent_Id, new { @class = "form-control modifiable", placeholder = "Assigned To Project Event" })
                            @Html.ValidationMessageFor(x => x.AssignedToProjectEvent_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Comments, "Comments", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.Comments, 3, 10, new { @class = "form-control modifiable", placeholder = "Comments" })
                            @Html.ValidationMessageFor(x => x.Comments)
                        </div>
                    </div>
                    <div class="form-group hide" id="EditFormGroupIsActive">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.IsActive_bl, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.IsActive_bl, "Is Active") &nbsp;&nbsp; <em>(Marking as 'Active' un-deletes record.)</em>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="LogEntryAssysView">

                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" >
                            <div class="row">
                                <div class="col-xs-12">
                                    @if (User.IsInRole("Assembly_EditStatus"))
                                    {
                                        <button class="btn btn-sm btn-warning pull-right" id="EditFormBtnChngSts" type="button">Change Status</button>
                                    }
                                    <strong>Add Assemblies </strong><small><em> Choose Location first.</em></small>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped" id="TableLogEntryAssysAdd">
                            <thead class="hide">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody class="selectable"></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Remove Assemblies </strong><small><em> Choose Location first</em></small></div>
                        <table class="table table-striped" id="TableLogEntryAssysRemove">
                            <thead class="hide">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody class="selectable"></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row" id="LogEntryPersonsView">
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-tdo-info">
                        <div class="panel-heading" style="font-weight:bold">Add People</div>
                        <table class="table table-striped" id="TableLogEntryPersonsAdd">
                            <thead class="hide">
                                <tr>
                                    <th>ID</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Initials</th>
                                </tr>
                            </thead>
                            <tbody class="selectable"></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-tdo-info">
                        <div class="panel-heading" style="font-weight:bold">Remove People</div>
                        <table class="table table-striped" id="TableLogEntryPersonsRemove">
                            <thead class="hide">
                                <tr>
                                    <th>ID</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Initials</th>
                                </tr>
                            </thead>
                            <tbody class="selectable"></tbody>
                        </table>
                    </div>
                </div>
            </div>
                        
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-default" type="button" id="EditFormBtnCancel">Cancel</button>
                </div>
                <div class="col-xs-8">
                    <button class="btn btn-success pull-right" type="button" id="EditFormBtnOk">
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                    <button class="btn btn-success pull-right margin-right-5px disabled" type="button" id="EditFormBtnOkFiles">
                    <span class="glyphicon glyphicon-ok"></span> & Files
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!------- LogEntryFilesView ------->
<div class="container-fluid hide" id="LogEntryFilesView">
   
    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <h3 id="PrsProjViewLabel">Log Entry Files</h3>
        </div>
        <div class="col-xs-9 col-sm-4">
            <div class="panel panel-warning margin-top-10px">
                <div class="panel-heading text-center" style="font-weight:bold" id="LogEntryFilesViewPanel"> </div>
            </div>
        </div>
        <div class="col-xs-3">
            <h3><button class="btn btn-default pull-right" type="button" id="LogEntryFilesViewBtnBack">Back</button></h3>
        </div>
    </div>
    
    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group margin-bottom-2px">
                    <span class="btn btn-default btn-file">Upload <input type="file" id="LogEntryFilesBtnUpload" multiple></span>
                    <button class="btn btn-info" id="LogEntryFilesBtnDload">Download</button>
                    <button class="btn btn-danger" id="LogEntryFilesBtnDelete">Delete</button>
                </div>
            </div>
        </div>
       <div class="row">
           <div class="col-xs-12">
               <div class="panel panel-primary">
                   <div class="panel-heading text-center"><strong>Log Entry Files</strong></div>
                   <table class="table table-striped" id="TableLogEntryFiles">
                       <thead>
                           <tr>
                               <th>Name</th>
                               <th>Size kB</th>
                               <th>Modified</th>
                           </tr>
                       </thead>
                       <tbody class="selectable"></tbody>
                   </table>
               </div>
           </div>
       </div>

        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default pull-right" type="button" id="LogEntryFilesViewBtnCancel">Back</button>
            </div>
        </div>
    </div>
    <iframe class="hide" id="LogEntryFilesIframe" name="LogEntryFilesIframe"></iframe>
</div>
 
<!------------ ModalUpload dialog ------------>
<div class="modal fade" id="ModalUpload" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalUploadLabel">Uploading...</h4>
            </div>
            <div class="modal-body">
                <div id="ModalUploadBody"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" id="ModalUploadBtnAbort">Abort</button>
            </div>
        </div>
    </div>
</div>

<!----------- ModalDeleteFiles dialog ----------->
<div class="modal fade" id="ModalDeleteFiles" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalDeleteFilesLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <div id="ModalDeleteFilesBody"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" id="ModalDeleteFilesBtnCancel">Cancel</button>
                <button class="btn btn-warning" id="ModalDeleteFilesBtnOk">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </div>
</div>

<!------------ ModalChngSts dialog ------------>
<div class="modal fade" id="ModalChngSts" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalChngStsLabel">Change Status</h4>
            </div>
            <div class="modal-body">
                <div id="ModalChngStsBody"></div>
                <br />
                <div id="ModalChngStsMs" placeholder="Select Status"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" id="ModalChngStsBtnCancel">Cancel</button>
                <button class="btn btn-warning" id="ModalChngStsBtnOk">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/bootstrap-toggle")
    @Scripts.Render("~/bundles/magicsuggest")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script src="~/Scripts/SDDB/PersonLogEntry.js"></script>
}

@section CSS {
    @Styles.Render("~/bundles/DataTables-CSS")
    @Styles.Render("~/bundles/bootstrap-toggle-CSS")
    @Styles.Render("~/bundles/magicsuggest-css")
    @Styles.Render("~/bundles/bootstrap-datetimepicker-CSS")
}

