@model SDDB.Domain.Entities.Component
@using SDDB.WebUI.Infrastructure
@{
    ViewBag.Title = "SDDB Components";
}
<!------- InitialView ------->
<div class="container-fluid" id="InitialView">
    <h4>Please wait, page loading...</h4>
</div>

<!----- Navbar Section ----->
@section Navbar{
<div class="btn-group navbar-btn tdo-btngroup-initial"></div>

    <div class="btn-group navbar-btn tdo-btngroup-main hidden">
        <button type="button" class="btn btn-default" id="BtnCreate">New</button>
        <button type="button" class="btn btn-tdo-nav" id="BtnEdit">&nbsp;&nbsp;Edit&nbsp;&nbsp;</button>
        <button type="button" class="btn btn-danger" id="BtnDelete">&nbsp;&nbsp;Del&nbsp;&nbsp;</button>
    </div>

    <div class="btn-group navbar-btn tdo-btngroup-edit hidden">
        <button type="button" class="btn btn-default" id="EditFormBtnCancel">Back</button>
        <button type="button" class="btn btn-tdo-nav disabled">&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <button type="button" class="btn btn-success" id="EditFormBtnOk">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
    </div>
}
@section NavbarCollapse{
<ul class="nav navbar-nav tdo-btngroup-initial"></ul>

    <ul class="nav navbar-nav tdo-btngroup-main hidden">
        <li>
            <div class="btn-group navbar-btn margin-left-5px">
                <button type="button" class="btn btn-tdo-warning2 collapsenav" id="BtnCopy"> Copy </button>
            </div>
        </li>
        <li class="dropdown margin-left-5px">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="collapsenav" href=# id="columnsSelectId1">Show 1st Columns</a></li>
                <li><a class="collapsenav" href=# id="columnsSelectId2">Show 2nd Columns</a></li>
                <li class="divider"></li>
                <li class="extColumnSelect"><a class="collapsenav" href=# id="columnsSelectId3">Show 1st Extended</a></li>
                <li class="extColumnSelect"><a class="collapsenav" href=# id="columnsSelectId4">Show 2nd Extended</a></li>
                <li class="extColumnSelect"><a class="collapsenav" href=# id="columnsSelectId5">Show 3rd Extended</a></li>
                <li class="divider"></li>
                <li><a class="collapsenav" href=# id="dropdownId1">Show Comp. Log</a></li>
            </ul>
        </li>
    </ul>
}

<!------- MainView ------->
<div class="container-fluid hidden" id="MainView">

    <div class="row">
        <div class="col-xs-12 margin-top-2px">
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByType" placeholder="Select Type"></div>
            </div>
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByProject" placeholder="Select Project"></div>
            </div>
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByAssy" placeholder="Select Assembly"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" id="PanelTableMain">
        <div class="panel-heading text-center" style="font-size:130%">
            <strong>Components</strong>
            <div class="pull-left">
                <button type="button" class="btn btn-xs btn-info" id="BtnTableMainExport">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </button>
            </div>
            <div class="pull-right">
                <input id="ChBoxShowDeleted" type="checkbox" data-toggle="toggle" data-size="mini" data-width="65"
                        data-onstyle="warning" data-offstyle="primary" data-on="Deleted" data-off="Active">
            </div>
        </div>
        <table class="table table-striped" id="TableMain">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Alternate Name</th>
                    <th>2nd. Alt. Name</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Project</th>
                    <th>Assembly</th>
                    <th>Position in Assy</th>
                    <th>Program Addr</th>
                    <th>Calib. Reqd</th>
                    <th>Last Calib.</th>
                    <th>Comments</th>
                    <th>Attr01</th>
                    <th>Attr02</th>
                    <th>Attr03</th>
                    <th>Attr04</th>
                    <th>Attr05</th>
                    <th>Attr06</th>
                    <th>Attr07</th>
                    <th>Attr08</th>
                    <th>Attr09</th>
                    <th>Attr10</th>
                    <th>Attr11</th>
                    <th>Attr12</th>
                    <th>Attr13</th>
                    <th>Attr14</th>
                    <th>Attr15</th>
                    <th>Is Active</th>
                    <th>ComponentType_Id</th>
                    <th>ComponentStatus_Id</th>
                    <th>AssignedToProject_Id</th>
                    <th>AssignedToAssemblyDb_Id</th>
                </tr>
            </thead>
            <tbody class="selectable"></tbody>
        </table>
    </div>
</div>

<!------- EditFormView ------->
<div class="container-fluid hidden" id="EditFormView">
    <div class="row">
        <div class="col-xs-12">
            <h3 id="EditFormLabel">Create/Edit Component</h3>
        </div>
    </div>
    <div class="well well-tdo">
        <form class="form-horizontal" role="form" id="EditForm">

            <div class="row" id="EditFormCreateMultiple">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="CreateMultiple">Multiple</label>
                        <div class="col-sm-10">
                            <input class="form-control input-tdo-info"
                                   data-val="true" data-val-number="The field must be a number."
                                   data-val-range="The field must be between 1 and 100." data-val-range-max="100" data-val-range-min="1"
                                   id="CreateMultiple" name="CreateMultiple" placeholder="Create Multiple" type="number" value="">
                            <span class="field-validation-valid" data-valmsg-for="CreateMultiple" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CompName, "Name", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.CompName, new { @class = "form-control modifiable", placeholder = "Component Name" })
                            @Html.ValidationMessageFor(x => x.CompName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.CompAltName, "Alternate Name", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.CompAltName, new { @class = "form-control modifiable", placeholder = "Component Alternate Name" })
                            @Html.ValidationMessageFor(x => x.CompAltName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.CompAltName2, "AltName 2", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.CompAltName2, new { @class = "form-control modifiable", placeholder = "2nd Alternate Name" })
                            @Html.ValidationMessageFor(x => x.CompAltName2)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ComponentType_Id, "Type", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.ComponentType_Id, new { @class = "form-control modifiable", placeholder = "Component Type" })
                            @Html.ValidationMessageFor(x => x.ComponentType_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ComponentStatus_Id, "Status", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.ComponentStatus_Id, new { @class = "form-control modifiable", placeholder = "Component Status" })
                            @Html.ValidationMessageFor(x => x.ComponentStatus_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedToProject_Id, "Project", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssignedToProject_Id, new { @class = "form-control modifiable", placeholder = "Assigned to Project" })
                            @Html.ValidationMessageFor(x => x.AssignedToProject_Id)
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedToAssemblyDb_Id, "Assembly", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssignedToAssemblyDb_Id, new { @class = "form-control modifiable", placeholder = "Assigned to Assembly" })
                            @Html.ValidationMessageFor(x => x.AssignedToAssemblyDb_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.PositionInAssy, "Pos. in Assy", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.PositionInAssy, new { @class = "form-control modifiable", placeholder = "Position in Assembly" })
                            @Html.ValidationMessageFor(x => x.PositionInAssy)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ProgramAddress, "Prog. Address", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.ProgramAddress, new { @class = "form-control modifiable", placeholder = "Program Address" })
                            @Html.ValidationMessageFor(x => x.ProgramAddress)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.CalibrationReqd_bl, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.CalibrationReqd_bl, "Calibration Required")
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.LastCalibrationDate, "Last Calib.", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <input class="form-control modifiable" data-val="true" data-val-dbisdateiso="The field has to be in 'yyyy-MM-dd' format."
                                   id="LastCalibrationDate" name="LastCalibrationDate" placeholder="Last Calibration Date" value="" type="text">
                            @Html.ValidationMessageFor(x => x.LastCalibrationDate)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Comments, "Comments", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.Comments, 3, 10, new { @class = "form-control modifiable", placeholder = "Comments" })
                            @Html.ValidationMessageFor(x => x.Comments)
                        </div>
                    </div>
                    <div class="form-group hidden" id="EditFormGroupIsActive">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.IsActive_bl, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.IsActive_bl, "Is Active") &nbsp;&nbsp; <em>(Marking as 'Active' un-deletes record.)</em>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <!------- EditFormExtended ------->

    <form class="form-horizontal hidden" role="form" id="EditFormExtended">
        <div class="well well-tdo">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group" id="FrmGrpAttr01">
                        <label class="control-label col-sm-2" for="Attr01">Attr01</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr01" name="Attr01" placeholder="Attr01" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr01" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr02">
                        <label class="control-label col-sm-2" for="Attr02">Attr02</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr02" name="Attr02" placeholder="Attr02" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr02" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr03">
                        <label class="control-label col-sm-2" for="Attr03">Attr03</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr03" name="Attr03" placeholder="Attr03" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr03" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr04">
                        <label class="control-label col-sm-2" for="Attr04">Attr04</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr04" name="Attr04" placeholder="Attr04" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr04" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr05">
                        <label class="control-label col-sm-2" for="Attr05">Attr05</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr05" name="Attr05" placeholder="Attr05" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr05" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr06">
                        <label class="control-label col-sm-2" for="Attr06">Attr06</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr06" name="Attr06" placeholder="Attr06" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr06" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr07">
                        <label class="control-label col-sm-2" for="Attr07">Attr07</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr07" name="Attr07" placeholder="Attr07" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr07" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group" id="FrmGrpAttr08">
                        <label class="control-label col-sm-2" for="Attr08">Attr08</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr08" name="Attr08" placeholder="Attr08" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr08" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr09">
                        <label class="control-label col-sm-2" for="Attr09">Attr09</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr09" name="Attr09" placeholder="Attr09" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr09" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr10">
                        <label class="control-label col-sm-2" for="Attr10">Attr10</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr10" name="Attr10" placeholder="Attr10" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr10" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr11">
                        <label class="control-label col-sm-2" for="Attr11">Attr11</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr11" name="Attr11" placeholder="Attr11" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr11" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr12">
                        <label class="control-label col-sm-2" for="Attr12">Attr12</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr12" name="Attr12" placeholder="Attr12" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr12" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr13">
                        <label class="control-label col-sm-2" for="Attr13">Attr13</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr13" name="Attr13" placeholder="Attr13" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr13" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr14">
                        <label class="control-label col-sm-2" for="Attr14">Attr14</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr14" name="Attr14" placeholder="Attr14" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr14" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="FrmGrpAttr15">
                        <label class="control-label col-sm-2" for="Attr15">Attr15</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr15" name="Attr15" placeholder="Attr15" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr15" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
    
</div>

<!------- ScriptVariables ------->

<script>var AssemblyId = "@ViewBag.AssemblyId";</script>
<script>var ComponentIds = @Html.Raw(@Html.JsonSerialize((object)ViewBag.ComponentIds));</script>


@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/bootstrap-toggle")
    @Scripts.Render("~/bundles/magicsuggest")
    @Scripts.Render("~/bundles/sddb/shared_views")
    <script src="~/Scripts/SDDB/Component.js?v=@Html.GetAppVersion()"></script>
}

@section CSS {
    @Styles.Render("~/bundles/DataTables-CSS")
    @Styles.Render("~/bundles/bootstrap-toggle-CSS")
    @Styles.Render("~/bundles/magicsuggest-css")
}
