@model SDDB.Domain.Entities.AssemblyDb
@using SDDB.WebUI.Infrastructure
@{
    ViewBag.Title = "SDDB Assemblies";
}
<!------- initialView ------->
<div class="container-fluid" id="initialView">
    <h4>Please wait, page loading...</h4>
</div>

<!----- Navbar Section ----->
@section Navbar{
    @Html.Partial("_StandardEditButtons")
}
@section NavbarCollapse{
    <ul class="nav navbar-nav tdo-btngroup-initial"></ul>

    <ul class="nav navbar-nav tdo-btngroup-main hidden">
        <li class="margin-left-10px">
            <div class="btn-group navbar-btn">
                <button type="button" class="btn btn-tdo-warning2 collapsenav" id="btnCopy"> Copy </button>
            </div>
        </li>
        <li class="dropdown margin-left-5px">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="collapsenav" href=# id="columnsSelectId1">Show 1st Columns</a></li>
                <li><a class="collapsenav" href=# id="columnsSelectId2">Show 2nd Columns</a></li>
                <li><a class="collapsenav" href=# id="columnsSelectId3">Show 3rd Columns</a></li>
                <li><a class="collapsenav" href=# id="columnsSelectId4">Show 4th Columns</a></li>
                <li class="divider"></li>
                <li class="extColumnSelect"><a class="collapsenav" href=# id="columnsSelectId5">Show 1st Extended</a></li>
                <li class="extColumnSelect"><a class="collapsenav" href=# id="columnsSelectId6">Show 2nd Extended</a></li>
                <li class="extColumnSelect"><a class="collapsenav" href=# id="columnsSelectId7">Show 3rd Extended</a></li>
                <li class="divider"></li>
                <li><a class="collapsenav" href=# id="dropdownId1">Show Assy Components</a></li>
                <li><a class="collapsenav" href=# id="dropdownId2">Show Assy Log</a></li>
            </ul>
        </li>
    </ul> 
}

<!------- mainView ------->

<div class="container-fluid hidden" id="mainView">
    <div class="row">
        <div class="col-xs-12 margin-top-2px">
            <div class="btn-group margin-bottom-2px">
                <div id="msFilterByType" placeholder="Select Type"></div>
            </div>
            <div class="btn-group margin-bottom-2px">
                <div id="msFilterByProject" placeholder="Select Project"></div>
            </div>
            <div class="btn-group margin-bottom-2px">
                <div id="msFilterByLoc" placeholder="Select Location"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" id="panelTableMain">
        <div class="panel-heading text-center" style="font-size:130%">
            <strong>Assemblies</strong>
            <div class="pull-left">
                <button type="button" class="btn btn-xs btn-info" id="btnTableMainExport">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </button>
            </div>
            <div class="pull-right">
                <input id="chBoxShowDeleted" type="checkbox" data-toggle="toggle" data-size="mini" data-width="65"
                       data-onstyle="warning" data-offstyle="primary" data-on="Deleted" data-off="Active">
            </div>
        </div>
        <table class="table table-striped" id="tableMain">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Alt. Name</th>
                    <th>2Alt. Name</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Location</th>
                    <th>Global X</th>
                    <th>Global Y</th>
                    <th>Global Z</th>
                    <th>Local X</th>
                    <th>Local Y</th>
                    <th>Local Z</th>
                    <th>AsBuilt X</th>
                    <th>AsBuilt Y</th>
                    <th>AsBuilt Z</th>
                    <th>Stationing</th>
                    <th>Length</th>
                    <th>Reading Int.</th>
                    <th>Is Ref.</th>
                    <th>Tech. Details</th>
                    <th>Power Details</th>
                    <th>HSE Details</th>
                    <th>Comments</th>
                    <th>Attr01</th>
                    <th>Attr02</th>
                    <th>Attr03</th>
                    <th>Attr04</th>
                    <th>Attr05</th>
                    <th>Attr06</th>
                    <th>Attr07</th>
                    <th>Attr08</th>
                    <th>Attr09</th>
                    <th>Attr10</th>
                    <th>Attr11</th>
                    <th>Attr12</th>
                    <th>Attr13</th>
                    <th>Attr14</th>
                    <th>Attr15</th>
                    <th>Is Active</th>
                    <th>AssemblyType_Id</th>
                    <th>AssemblyStatus_Id</th>
                    <th>AssignedToLocation_Id</th>
                </tr>
            </thead>
            <tbody class="selectable"></tbody>
        </table>
    </div>
</div>

<!------- editFormView ------->
<div class="container-fluid hidden" id="editFormView">
    <div class="row">
        <div class="col-xs-12">
            <h3 id="editFormLabel">Create/Edit Assembly</h3>
        </div>
    </div>
    <div class="well well-tdo">
        <form class="form-horizontal" role="form" id="editForm">

            <div class="row" id="editFormCreateMultiple">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="createMultiple">Multiple</label>
                        <div class="col-sm-10">
                            <input class="form-control input-tdo-info"
                                   data-val="true" data-val-number="The field must be a number."
                                   data-val-range="The field must be between 1 and 100." data-val-range-max="100" data-val-range-min="1"
                                   id="createMultiple" name="createMultiple" placeholder="Create Multiple" type="number" value="">
                            <span class="field-validation-valid" data-valmsg-for="createMultiple" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyName, "Name", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyName, new { @class = "form-control modifiable", placeholder = "Assembly Name" })
                            @Html.ValidationMessageFor(x => x.AssyName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyAltName, "Alternate Name", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyAltName, new { @class = "form-control modifiable", placeholder = "Assembly Alternate Name" })
                            @Html.ValidationMessageFor(x => x.AssyAltName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyAltName2, "AltName 2", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyAltName2, new { @class = "form-control modifiable", placeholder = "2nd Alternate Name" })
                            @Html.ValidationMessageFor(x => x.AssyAltName2)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssemblyType_Id, "Type", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssemblyType_Id, new { @class = "form-control modifiable", placeholder = "Assembly Type" })
                            @Html.ValidationMessageFor(x => x.AssemblyType_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssemblyStatus_Id, "Status", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssemblyStatus_Id, new { @class = "form-control modifiable", placeholder = "Assembly Status" })
                            @Html.ValidationMessageFor(x => x.AssemblyStatus_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedToLocation_Id, "Location", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssignedToLocation_Id, new { @class = "form-control modifiable", placeholder = "Assigned to Location" })
                            @Html.ValidationMessageFor(x => x.AssignedToLocation_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyGlobalX, "Global X", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyGlobalX, new { @class = "form-control modifiable", placeholder = "Assy. Global X" })
                            @Html.ValidationMessageFor(x => x.AssyGlobalX)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyGlobalY, "Global Y", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyGlobalY, new { @class = "form-control modifiable", placeholder = "Assy. Global Y" })
                            @Html.ValidationMessageFor(x => x.AssyGlobalY)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyGlobalZ, "Global Z", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyGlobalZ, new { @class = "form-control modifiable", placeholder = "Assy. Global Z" })
                            @Html.ValidationMessageFor(x => x.AssyGlobalZ)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyLocalXDesign, "LocalX Design", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyLocalXDesign, new { @class = "form-control modifiable", placeholder = "Local Design X" })
                            @Html.ValidationMessageFor(x => x.AssyLocalXDesign)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyLocalYDesign, "LocalY Design", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyLocalYDesign, new { @class = "form-control modifiable", placeholder = "Local Design Y" })
                            @Html.ValidationMessageFor(x => x.AssyLocalYDesign)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyLocalZDesign, "LocalZ Design", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyLocalZDesign, new { @class = "form-control modifiable", placeholder = "Local Design Z" })
                            @Html.ValidationMessageFor(x => x.AssyLocalZDesign)
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyLocalXAsBuilt, "LocalX AsBuilt", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyLocalXAsBuilt, new { @class = "form-control modifiable", placeholder = "Local AsBuilt X" })
                            @Html.ValidationMessageFor(x => x.AssyLocalXAsBuilt)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyLocalYAsBuilt, "LocalY AsBuilt", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyLocalYAsBuilt, new { @class = "form-control modifiable", placeholder = "Local AsBuilt Y" })
                            @Html.ValidationMessageFor(x => x.AssyLocalYAsBuilt)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyLocalZAsBuilt, "LocalZ AsBuilt", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyLocalZAsBuilt, new { @class = "form-control modifiable", placeholder = "Local AsBuilt Z" })
                            @Html.ValidationMessageFor(x => x.AssyLocalZAsBuilt)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyStationing, "Stationing", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyStationing, new { @class = "form-control modifiable", placeholder = "Assy. Stationing" })
                            @Html.ValidationMessageFor(x => x.AssyStationing)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyLength, "Length", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyLength, new { @class = "form-control modifiable", placeholder = "Assy. Length" })
                            @Html.ValidationMessageFor(x => x.AssyLength)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyReadingIntervalSecs, "Read Interval", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyReadingIntervalSecs, new { @class = "form-control modifiable", placeholder = "Reading interval in seconds" })
                            @Html.ValidationMessageFor(x => x.AssyReadingIntervalSecs)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.IsReference_bl, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.IsReference_bl, "Is Monitoring Reference")
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.TechnicalDetails, "Technical Details", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.TechnicalDetails, 3, 10, new { @class = "form-control modifiable", placeholder = "Technical Details" })
                            @Html.ValidationMessageFor(x => x.TechnicalDetails)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.PowerSupplyDetails, "Power Details", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.PowerSupplyDetails, 3, 10, new { @class = "form-control modifiable", placeholder = "Power Supply Details" })
                            @Html.ValidationMessageFor(x => x.PowerSupplyDetails)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.HSEDetails, "HSE Details", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.HSEDetails, 3, 10, new { @class = "form-control modifiable", placeholder = "Health & Safety Details" })
                            @Html.ValidationMessageFor(x => x.HSEDetails)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Comments, "Comments", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.Comments, 3, 10, new { @class = "form-control modifiable", placeholder = "Comments" })
                            @Html.ValidationMessageFor(x => x.Comments)
                        </div>
                    </div>
                    <div class="form-group hidden" id="editFormGroupIsActive">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.IsActive_bl, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.IsActive_bl, "Is Active") &nbsp;&nbsp; <em>(Marking as 'Active' un-deletes record.)</em>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!------- editFormExtended ------->

    <form class="form-horizontal hidden" role="form" id="editFormExtended">
        <div class="well well-tdo">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group" id="frmGrpAttr01">
                        <label class="control-label col-sm-2" for="Attr01">Attr01</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr01" name="Attr01" placeholder="Attr01" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr01" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="frmGrpAttr02">
                        <label class="control-label col-sm-2" for="Attr02">Attr02</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr02" name="Attr02" placeholder="Attr02" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr02" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="frmGrpAttr03">
                        <label class="control-label col-sm-2" for="Attr03">Attr03</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr03" name="Attr03" placeholder="Attr03" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr03" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="frmGrpAttr04">
                        <label class="control-label col-sm-2" for="Attr04">Attr04</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr04" name="Attr04" placeholder="Attr04" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr04" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="frmGrpAttr05">
                        <label class="control-label col-sm-2" for="Attr05">Attr05</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr05" name="Attr05" placeholder="Attr05" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr05" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="frmGrpAttr06">
                        <label class="control-label col-sm-2" for="Attr06">Attr06</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr06" name="Attr06" placeholder="Attr06" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr06" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="frmGrpAttr07">
                        <label class="control-label col-sm-2" for="Attr07">Attr07</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr07" name="Attr07" placeholder="Attr07" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr07" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group" id="frmGrpAttr08">
                        <label class="control-label col-sm-2" for="Attr08">Attr08</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr08" name="Attr08" placeholder="Attr08" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr08" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="frmGrpAttr09">
                        <label class="control-label col-sm-2" for="Attr09">Attr09</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr09" name="Attr09" placeholder="Attr09" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr09" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="frmGrpAttr10">
                        <label class="control-label col-sm-2" for="Attr10">Attr10</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr10" name="Attr10" placeholder="Attr10" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr10" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="frmGrpAttr11">
                        <label class="control-label col-sm-2" for="Attr11">Attr11</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr11" name="Attr11" placeholder="Attr11" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr11" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="frmGrpAttr12">
                        <label class="control-label col-sm-2" for="Attr12">Attr12</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr12" name="Attr12" placeholder="Attr12" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr12" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="frmGrpAttr13">
                        <label class="control-label col-sm-2" for="Attr13">Attr13</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr13" name="Attr13" placeholder="Attr13" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr13" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="frmGrpAttr14">
                        <label class="control-label col-sm-2" for="Attr14">Attr14</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr14" name="Attr14" placeholder="Attr14" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr14" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group" id="frmGrpAttr15">
                        <label class="control-label col-sm-2" for="Attr15">Attr15</label>
                        <div class="col-sm-10">
                            <input class="form-control modifiable" id="Attr15" name="Attr15" placeholder="Attr15" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Attr15" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>

<!------- ScriptVariables ------->

<script>var LocationId = "@ViewBag.LocationId";</script>
<script>var AssemblyIds = @Html.Raw(@Html.JsonSerialize((object)ViewBag.AssemblyIds));</script>

@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/bootstrap-toggle")
    @Scripts.Render("~/bundles/magicsuggest")
    @Scripts.Render("~/bundles/sddb/shared_views")
    <script src="~/Scripts/SDDB/AssemblyDb.js?v=@Html.GetAppVersion()"></script>
}

@section CSS {
    @Styles.Render("~/bundles/DataTables-CSS")
    @Styles.Render("~/bundles/bootstrap-toggle-CSS")
    @Styles.Render("~/bundles/magicsuggest-css")
}
