@model SDDB.Domain.Entities.AssemblyDb
@{
    ViewBag.Title = "Assemblies";
}

<!------- MainView ------->
<div class="container-fluid" id="MainView">

    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group margin-bottom-2px">
                <button class="btn btn-default" id="BtnCreate">Create</button>
                <button class="btn btn-primary" id="BtnEdit">Edit</button>
                <button class="btn btn-danger" id="BtnDelete">Delete</button>
            </div>

            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByType" placeholder="Select Type"></div>
            </div>
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByProject" placeholder="Select Project"></div>
            </div>
            <div class="btn-group margin-bottom-2px">
                <div id="MsFilterByLoc" placeholder="Select Location"></div>
            </div>

            <div class="pull-right">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href=# id="dropdownId1">Show 1st Columns</a></li>
                        <li><a href=# id="dropdownId2">Show 2nd Columns</a></li>
                        <li><a href=# id="dropdownId3">Show 3rd Columns</a></li>
                        <li><a href=# id="dropdownId4">Show 4th Columns</a></li>
                        <li class="divider"></li>
                        <li><a href=# id="dropdownId5">Show Assy Components</a></li>
                        <li><a href=# id="dropdownId6">Show Assy Log</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" id="PanelTableMain">
        <div class="panel-heading text-center" style="font-size:130%">
            <strong>Assemblies</strong>
            <div class="pull-right">
                <input id="ChBoxShowDeleted" type="checkbox" data-toggle="toggle" data-size="mini" data-width="100" data-onstyle="warning" data-on="Deleted Shown" data-off="Show Deleted" disabled>
            </div>
        </div>
        <table class="table table-striped" id="TableMain">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Alternate Name</th>
                    <th>2nd. Alt. Name</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Model</th>
                    <th>Project</th>
                    <th>Location</th>
                    <th>Global X</th>
                    <th>Global Y</th>
                    <th>Global Z</th>
                    <th>Local X</th>
                    <th>Local Y</th>
                    <th>Local Z</th>
                    <th>AsBuilt X</th>
                    <th>AsBuilt Y</th>
                    <th>AsBuilt Z</th>
                    <th>Stationing</th>
                    <th>Length</th>
                    <th>Reading Int.</th>
                    <th>Is Ref.</th>
                    <th>Tech. Details</th>
                    <th>Power Details</th>
                    <th>HSE Details</th>
                    <th>Comments</th>
                    <th>Is Active</th>
                    <th>AssemblyType_Id</th>
                    <th>AssemblyStatus_Id</th>
                    <th>AssemblyModel_Id</th>
                    <th>AssignedToProject_Id</th>
                    <th>AssignedToLocation_Id</th>
                </tr>
            </thead>
            <tbody class="selectable"></tbody>
        </table>
    </div>
</div>

<!------- EditFormView ------->
<div class="container-fluid hide" id="EditFormView">
    <div class="row">
        <div class="col-xs-6">
            <h3 id="EditFormLabel">Create/Edit Assembly</h3>
        </div>
        <div class="col-xs-6">
            <h3><button class="btn btn-default pull-right" type="button" id="EditFormBtnBack">Cancel</button></h3>
        </div>
    </div>
    <div class="well">
        <form class="form-horizontal" role="form" id="EditForm">

            <div class="row" id="EditFormCreateMultiple">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="CreateMultiple">Multiple</label>
                        <div class="col-sm-10">
                            <input class="form-control input-tdo-info"
                                   data-val="true" data-val-number="The field must be a number."
                                   data-val-range="The field must be between 1 and 100." data-val-range-max="100" data-val-range-min="1"
                                   id="CreateMultiple" name="CreateMultiple" placeholder="Create Multiple" type="number" value="">
                            <span class="field-validation-valid" data-valmsg-for="CreateMultiple" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyName, "Name", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyName, new { @class = "form-control modifiable", placeholder = "Assembly Name" })
                            @Html.ValidationMessageFor(x => x.AssyName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyAltName, "Alternate Name", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyAltName, new { @class = "form-control modifiable", placeholder = "Assembly Alternate Name" })
                            @Html.ValidationMessageFor(x => x.AssyAltName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyAltName2, "AltName 2", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyAltName2, new { @class = "form-control modifiable", placeholder = "2nd Alternate Name" })
                            @Html.ValidationMessageFor(x => x.AssyAltName2)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssemblyType_Id, "Type", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssemblyType_Id, new { @class = "form-control modifiable", placeholder = "Assembly Type" })
                            @Html.ValidationMessageFor(x => x.AssemblyType_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssemblyStatus_Id, "Status", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssemblyStatus_Id, new { @class = "form-control modifiable", placeholder = "Assembly Status" })
                            @Html.ValidationMessageFor(x => x.AssemblyStatus_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssemblyModel_Id, "Model", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssemblyModel_Id, new { @class = "form-control modifiable", placeholder = "Assembly Model" })
                            @Html.ValidationMessageFor(x => x.AssemblyModel_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedToProject_Id, "Project", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssignedToProject_Id, new { @class = "form-control modifiable", placeholder = "Assigned to Project" })
                            @Html.ValidationMessageFor(x => x.AssignedToProject_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedToLocation_Id, "Location", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssignedToLocation_Id, new { @class = "form-control modifiable", placeholder = "Assigned to Location" })
                            @Html.ValidationMessageFor(x => x.AssignedToLocation_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyGlobalX, "Global X", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyGlobalX, new { @class = "form-control modifiable", placeholder = "Assy. Global X" })
                            @Html.ValidationMessageFor(x => x.AssyGlobalX)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyGlobalY, "Global Y", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyGlobalY, new { @class = "form-control modifiable", placeholder = "Assy. Global Y" })
                            @Html.ValidationMessageFor(x => x.AssyGlobalY)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyGlobalZ, "Global Z", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyGlobalZ, new { @class = "form-control modifiable", placeholder = "Assy. Global Z" })
                            @Html.ValidationMessageFor(x => x.AssyGlobalZ)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyLocalXDesign, "LocalX Design", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyLocalXDesign, new { @class = "form-control modifiable", placeholder = "Local Design X" })
                            @Html.ValidationMessageFor(x => x.AssyLocalXDesign)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyLocalYDesign, "LocalY Design", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyLocalYDesign, new { @class = "form-control modifiable", placeholder = "Local Design Y" })
                            @Html.ValidationMessageFor(x => x.AssyLocalYDesign)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyLocalZDesign, "LocalZ Design", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyLocalZDesign, new { @class = "form-control modifiable", placeholder = "Local Design Z" })
                            @Html.ValidationMessageFor(x => x.AssyLocalZDesign)
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyLocalXAsBuilt, "LocalX AsBuilt", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyLocalXAsBuilt, new { @class = "form-control modifiable", placeholder = "Local AsBuilt X" })
                            @Html.ValidationMessageFor(x => x.AssyLocalXAsBuilt)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyLocalYAsBuilt, "LocalY AsBuilt", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyLocalYAsBuilt, new { @class = "form-control modifiable", placeholder = "Local AsBuilt Y" })
                            @Html.ValidationMessageFor(x => x.AssyLocalYAsBuilt)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyLocalZAsBuilt, "LocalZ AsBuilt", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyLocalZAsBuilt, new { @class = "form-control modifiable", placeholder = "Local AsBuilt Z" })
                            @Html.ValidationMessageFor(x => x.AssyLocalZAsBuilt)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyStationing, "Stationing", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyStationing, new { @class = "form-control modifiable", placeholder = "Assy. Stationing" })
                            @Html.ValidationMessageFor(x => x.AssyStationing)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyLength, "Length", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyLength, new { @class = "form-control modifiable", placeholder = "Assy. Length" })
                            @Html.ValidationMessageFor(x => x.AssyLength)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssyReadingIntervalSecs, "Read Interval", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssyReadingIntervalSecs, new { @class = "form-control modifiable", placeholder = "Reading interval in seconds" })
                            @Html.ValidationMessageFor(x => x.AssyReadingIntervalSecs)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.IsReference, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.IsReference, "Is Monitoring Reference")
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.TechnicalDetails, "Technical Details", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.TechnicalDetails, 3, 10, new { @class = "form-control modifiable", placeholder = "Technical Details" })
                            @Html.ValidationMessageFor(x => x.TechnicalDetails)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.PowerSupplyDetails, "Power Details", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.PowerSupplyDetails, 3, 10, new { @class = "form-control modifiable", placeholder = "Power Supply Details" })
                            @Html.ValidationMessageFor(x => x.PowerSupplyDetails)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.HSEDetails, "HSE Details", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.HSEDetails, 3, 10, new { @class = "form-control modifiable", placeholder = "Health & Safety Details" })
                            @Html.ValidationMessageFor(x => x.HSEDetails)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Comments, "Comments", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.Comments, 3, 10, new { @class = "form-control modifiable", placeholder = "Comments" })
                            @Html.ValidationMessageFor(x => x.Comments)
                        </div>
                    </div>
                    <div class="form-group hide" id="EditFormGroupIsActive">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.IsActive, "Is Active") &nbsp;&nbsp; <em>(Marking as 'Active' un-deletes record.)</em>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="col-xs-6">
                    <button class="btn btn-default" type="button" id="EditFormBtnCancel">Cancel</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-success pull-right" type="button" id="EditFormBtnOk">
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!------- ScriptVariables ------->

<script>var locId = "@ViewBag.locId";</script>

@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/bootstrap-toggle")
    @Scripts.Render("~/bundles/magicsuggest")
    <script src="~/Scripts/SDDB/AssemblyDb.js"></script>
}

@section CSS {
    @Styles.Render("~/bundles/DataTables-CSS")
    @Styles.Render("~/bundles/bootstrap-toggle-CSS")
    @Styles.Render("~/bundles/magicsuggest-css")
}
