@model SDDB.Domain.Entities.PersonActivityType
@using SDDB.WebUI.Infrastructure
@{
    ViewBag.Title = "SDDB Person Activity Types";
}
<!------- InitialView ------->
<div class="container-fluid" id="InitialView">
    <h4>Please wait, page loading...</h4>
</div>

<!----- Navbar Section ----->
@section Navbar{
    @Html.Partial("_StandardEditButtons")
}
@section NavbarCollapse{
    <ul class="nav navbar-nav tdo-btngroup-initial"></ul>

    <ul class="nav navbar-nav tdo-btngroup-main hidden">
        <li class="margin-left-10px">
            <div class="btn-group navbar-btn">
                <button type="button" class="btn btn-tdo-warning2 collapsenav" id="BtnCopy"> Copy </button>
            </div>
        </li>
    </ul>
}

<!------- MainView ------->
<div class="container-fluid hidden" id="MainView">

    <div class="panel panel-primary" id="PanelTableMain">
        <div class="panel-heading text-center" style="font-size:130%">
            <strong>Activity Types</strong>
            <div class="pull-left">
                <button type="button" class="btn btn-xs btn-info" id="BtnTableMainExport">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </button>
            </div>
            <div class="pull-right">
                <input id="ChBoxShowDeleted" type="checkbox" data-toggle="toggle" data-size="mini" data-width="65"
                        data-onstyle="warning" data-offstyle="primary" data-on="Deleted" data-off="Active">
            </div>
        </div>
        <table class="table table-striped" id="TableMain">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type Name</th>
                    <th>Alternate Name</th>
                    <th>Comments</th>
                    <th>Is Active</th>
                </tr>
            </thead>
            <tbody class="selectable"></tbody>
        </table>
    </div>
</div>

<!------- EditFormView ------->
<div class="container-fluid hidden" id="EditFormView">
    <div class="row">
        <div class="col-xs-12">
            <h3 id="EditFormLabel">Create/Edit Person Activity Type</h3>
        </div>
    </div>
    <div class="well well-tdo">
        <form class="form-horizontal" role="form" id="EditForm">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ActivityTypeName, "Type Name", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.ActivityTypeName, new { @class = "form-control modifiable", placeholder = "Activity Type Name" })
                            @Html.ValidationMessageFor(x => x.ActivityTypeName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ActivityTypeAltName, "Alternate Name", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.ActivityTypeAltName, new { @class = "form-control modifiable", placeholder = "Activity. Type Alternate Name" })
                            @Html.ValidationMessageFor(x => x.ActivityTypeAltName)
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Comments, "Comments", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.Comments, 3, 10, new { @class = "form-control modifiable", placeholder = "Comments" })
                            @Html.ValidationMessageFor(x => x.Comments)
                        </div>
                    </div>
                    <div class="form-group hidden" id="EditFormGroupIsActive">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.IsActive_bl, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.IsActive_bl, "Is Active") &nbsp;&nbsp; <em>(Marking as 'Active' un-deletes record.)</em>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/bootstrap-toggle")
    @Scripts.Render("~/bundles/magicsuggest")
    @Scripts.Render("~/bundles/sddb/shared_views")
    <script src="~/Scripts/SDDB/PersonActivityType.js?v=@Html.GetAppVersion()"></script>
}

@section CSS {
    @Styles.Render("~/bundles/DataTables-CSS")
    @Styles.Render("~/bundles/bootstrap-toggle-CSS")
    @Styles.Render("~/bundles/magicsuggest-css")
}

