@model SDDB.Domain.Entities.PersonLogEntry
@using SDDB.WebUI.Infrastructure
@{
    ViewBag.Title = "SDDB Your Activity";
}
<!------- InitialView ------->
<div class="container-fluid" id="InitialView">
    <h4>Please wait, page loading...</h4>
</div>

@section Navbar{
    <div class="btn-group navbar-btn tdo-btngroup-main">
        <button type="button" class="btn btn-default" id="BtnCreate">New</button>
        <button type="button" class="btn btn-tdo-nav" id="BtnEdit">&nbsp;&nbsp;Edit&nbsp;&nbsp;</button>
        <button type="button" class="btn btn-danger" id="BtnDelete">&nbsp;&nbsp;Del&nbsp;&nbsp;</button>
    </div>

    <div class="btn-group navbar-btn tdo-btngroup-edit hidden">
        <button type="button" class="btn btn-default" id="EditFormBtnCancel">Back</button>
        <button type="button" class="btn btn-tdo-success" id="EditFormBtnOkFiles">
            &nbsp;<span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;
        </button>
        <button type="button" class="btn btn-success" id="EditFormBtnOk">
            &nbsp;&nbsp;&nbsp<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;
        </button>
    </div>

    <div class="btn-group navbar-btn tdo-btngroup-logentryfiles hidden">
        <button type="button" class="btn btn-default" id="LogEntryFilesViewBtnBack">Back</button>
    </div>
}
@section NavbarCollapse{
    <ul class="nav navbar-nav tdo-btngroup-main">
        <li>
            <div class="btn-group navbar-btn margin-left-5px">
                <button type="button" class="btn btn-tdo-warning2 collapsenav" id="BtnCopy"> Copy </button>
            </div>
        </li>
        <li>
            <div class="btn-group navbar-btn margin-left-5px">
                <button type="button" class="btn btn-success collapsenav" id="BtnEditLogEntryFiles">&nbsp; Files &nbsp;</button>
            </div>
        </li>
    </ul>
}

<!------- MainView ------->
<div class="container-fluid hidden" id="MainView">

    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group margin-bottom-2px">
                <input class="form-control input-tdo-warning" data-val="true" data-val-dbisdateiso="The field must have YYYY-MM-DD format."
                       id="FilterDateStart" placeholder="Select Day" type="text" value="">
            </div>
        </div>

    </div>

    <div class="panel panel-tdo-success " id="PanelTableMain">
        <div class="panel-heading text-center" style="font-size:130%">
            <strong>Your Activity</strong>
            <div class="pull-right">
                <input id="ChBoxShowDeleted" type="checkbox" data-toggle="toggle" data-size="mini" data-width="65" 
                       data-onstyle="warning" data-offstyle="success" data-on="Deleted" data-off="Active">
            </div>
        </div>
        <table class="table table-striped" id="TableMain">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Time</th>
                    <th>By</th>
                    <th>Activity</th>
                    <th>Hrs</th>
                    <th>Proj</th>
                    <th>Location</th>
                    <th>Event</th>
                    <th>Comments</th>
                    <th>Files</th>
                </tr>
            </thead>
            <tbody class="selectable"></tbody>
        </table>
    </div>
</div>

<!------- EditFormView ------->
<div class="container-fluid hidden" id="EditFormView">
    <div class="row">
        <div class="col-xs-12">
            <h3 id="EditFormLabel">Create/Edit Activity</h3>
        </div>
    </div>
    <div class="well well-tdo">
        <form class="form-horizontal" role="form" id="EditForm">
            <div class="row">

                <div class="col-md-6">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <strong>Hour of the Day</strong>
                                </div>
                                <div class="panel-body">
                                    <div id="EntryDTPicker"></div>
                                    <input type="text" class="modifiable" name="LogEntryDateTime" id="LogEntryDateTime" value="" hidden />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <strong>Hours Worked</strong>
                                </div>
                                <div class="panel-body">
                                    <div id="HoursWorkedPicker"></div>
                                    <input type="text" class="modifiable" name="ManHours" id="ManHours" value="" hidden />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group hidden">
                        @Html.LabelFor(x => x.EnteredByPerson_Id, "Entered By", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.EnteredByPerson_Id, new { @class = "form-control modifiable", placeholder = "Entered By Person" })
                            @Html.ValidationMessageFor(x => x.EnteredByPerson_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.PersonActivityType_Id, "Activity", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.PersonActivityType_Id, new { @class = "form-control modifiable", placeholder = "Type of Activity" })
                            @Html.ValidationMessageFor(x => x.PersonActivityType_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedToProject_Id, "Project", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssignedToProject_Id, new { @class = "form-control modifiable", placeholder = "Assigned to Project" })
                            @Html.ValidationMessageFor(x => x.AssignedToProject_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedToLocation_Id, "Location", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            <div class="small"><em> Choose Project first</em></div>
                            @Html.TextBoxFor(x => x.AssignedToLocation_Id, new { @class = "form-control modifiable", placeholder = "Assigned to Location" })
                            @Html.ValidationMessageFor(x => x.AssignedToLocation_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedToProjectEvent_Id, "Event", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AssignedToProjectEvent_Id, new { @class = "form-control modifiable", placeholder = "Assigned To Project Event" })
                            @Html.ValidationMessageFor(x => x.AssignedToProjectEvent_Id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Comments, "Comments", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.Comments, 3, 10, new { @class = "form-control modifiable", placeholder = "Comments" })
                            @Html.ValidationMessageFor(x => x.Comments)
                        </div>
                    </div>
                    <div class="form-group hidden" id="EditFormGroupIsActive">
                        <div class="col-sm-10 col-sm-offset-2">
                            @Html.CheckBoxFor(x => x.IsActive_bl, new { @class = "modifiable" }) &nbsp;&nbsp;
                            @Html.LabelFor(x => x.IsActive_bl, "Is Active") &nbsp;&nbsp; <em>(Marking as 'Active' un-deletes record.)</em>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div class="well well-tdo">
        <div class="row" id="LogEntryAssysView">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Add Assemblies </strong><small><em> Choose Location first.</em></small></div>
                    <table class="table table-striped" id="TableLogEntryAssysAdd">
                        <thead class="hidden">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody class="selectable"></tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Remove Assemblies </strong><small><em> Choose Location first</em></small></div>
                    <table class="table table-striped" id="TableLogEntryAssysRemove">
                        <thead class="hidden">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody class="selectable"></tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12">
                <button class="btn btn-sm btn-info" id="EditFormBtnAddRemoveAssys" type="button">Add/Remove Assys</button>
                @if (User.IsInRole("Assembly_EditStatus"))
                {
                    <button class="btn btn-sm btn-warning pull-right" id="EditFormBtnChngSts" type="button">Change Status</button>
                }
            </div>
        </div>
    </div>

    @if (Html.UserIsGrManager())
    {
        <div class="well well-tdo">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary margin-bottom-5px" id="EditFormBtnPrsAddRemove" type="button">
                        Add/Remove Other Persons
                    </button>
                    <div class="small"><em> Adding others adds hours to their records!</em></div>
                </div>
            </div>
            <div class="row hidden" id="LogEntryPersonsView">
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-tdo-info">
                        <div class="panel-heading" style="font-weight:bold">Add People</div>
                        <table class="table table-striped" id="TableLogEntryPersonsAdd">
                            <thead class="hidden">
                                <tr>
                                    <th>ID</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Initials</th>
                                </tr>
                            </thead>
                            <tbody class="selectable"></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-tdo-info">
                        <div class="panel-heading" style="font-weight:bold">Remove People</div>
                        <table class="table table-striped" id="TableLogEntryPersonsRemove">
                            <thead class="hidden">
                                <tr>
                                    <th>ID</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Initials</th>
                                </tr>
                            </thead>
                            <tbody class="selectable"></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-sm btn-info" id="EditFormBtnAddRemovePersons" type="button">Add/Remove People</button>
                </div>
            </div>
        </div>
    }

</div>

@Html.Partial("_PersonLogEntryShared")

<!------- ScriptVariables ------->
<script>var UserId = "@Html.GetUserId()";</script>
<script>var UserFullName = "@Html.GetUserFullName()";</script>



@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/bootstrap-toggle")
    @Scripts.Render("~/bundles/magicsuggest")
    <script src="~/Scripts/SDDB/YourActivity.js?v=@Html.GetAppVersion()"></script>
    <script src="~/Scripts/SDDB/PersonLogEntryShared.js?v=@Html.GetAppVersion()"></script>
    <script src="~/Scripts/SDDB/PersonLogEntryFiles.js?v=@Html.GetAppVersion()"></script>
}

@section CSS {
    @Styles.Render("~/bundles/DataTables-CSS")
    @Styles.Render("~/bundles/bootstrap-toggle-CSS")
    @Styles.Render("~/bundles/magicsuggest-css")
}

